.fas, .far{
  background-size:contain;
  background-repeat: no-repeat;
}

.fa-check {
  width: 40px;
  height: 30px;
  background-color: rgb(129, 129, 129);
  background-image: url(./assets/check.png);
}

.fa-paint-brush, .fa-eraser, .fa-star, .fa-paragraph, .fa-file-image, .fa-undo-alt, .fa-redo-alt, .fa-trash-alt{
  width: 35px;
  height: 35px;
  border: 0px solid #000;
}
